.Navigation {
    margin-bottom: 20px;
}

.Brand{
    color: white;
    font-size: 15px;
    margin-top: -20px;
}

.NavLink {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -25px;
}

.NavLink:hover {
    color: wheat;
}